{% style %}



.card-style-tt {background-color: white;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: black;
    text-align: center;
}
.image-style-tt {

    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content-tt {
    padding: 15px;
    text-overflow: ellipsis;
}

.card-grid-tt {display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    align-items: center;
}








{% endstyle %}

{% schema %}
{
  "name": "Product Bundle",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Section Title",
      "default": "Frequently bought together"
    },
    {
      "id": "product_select",
      "type": "product_list",
      "label": "Select Products for Bundle"
    }
    
  ]
}
{% endschema %}

{% if section.settings.title != blank %}
<h2>{{ section.settings.title }}</h2>
{% endif %}

{% if section.settings.product_select != blank %}
<div class="card-grid-tt"> 
  {% for product in section.settings.product_select %}  
  
    <div class="card-style-tt">   
        {{ product.featured_image | image_url: width: 90| image_tag }}
        <div class="card-content-tt"> 
    <p>{{ product.title }}</p>      
    </div>    
    <div class="card-bottom-tt">     
     <p >{{ product.price | money }}</p>    
    </div>  
    </div>
    </div>

    
  
  {% endfor %}

  {% assign total_price = 0 %}
  {% for product in section.settings.product_select %}  {% assign total_price = total_price | plus: product.price %}
  {% endfor %}
  <p class="bundle-total">Total Bundle Price: {{ total_price | money }}</p>
</div>
{% endif %}


 
