
{% style %}

.list-circle-collections {
    display:flex;
    height: 13.5rem;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    overflow-x: auto;
    overflow-y:hidden;
    padding: 0;
  }
  .circle-collection {
    height:10rem;
    position:relative;
    min-width:10rem;
  }
  .circle-collection img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    max-width: 100%;
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 0.5rem; */
  }
  .circle-collection img, 
  .circle-collection svg {
      vertical-align: middle;
  }
  .circle-collection svg {
    position: absolute;
    fill: none;
    stroke: #e74683;
    stroke-linecap: round;
    stroke-width: 3; 
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: svg-stroke 5s ease-out 2 alternate;
  }
  @keyframes svg-stroke{
    0% {
      
      stroke-dasharray: 1;
    }
    100% {
      
      transform: rotate(180deg);
      stroke-dasharray: 9;
    }
  }
  .circle-collection span {
    min-width: 100%;
    padding-top: 10.5rem;
    text-align: center;
  }
  
  
{% endstyle %}



<ul class="list-circle-collections ">
    {% for collection in section.settings.mba_collection_list %}
    <li class="circle-collection" >
      
        <a href={{collection.url}} title={{collection.title}}>
            {{ collection.image | image_url: width: 150 | image_tag }}
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="stroke-width: 2" xml:space="preserve">
        <circle cx="50" cy="50" r="40"></circle>
      </svg>
      <span class="link link--text">
        {{collection.title}}
      </span>
      
        </a>
      
    </li> 
    {% endfor %}
  
</ul>


<script>
    console.log ({{section.settings.mba_collection_list.image.src}})
</script>
{% schema %}
{
    "name": "MBA Circular Border",
    "settings": [
      {
        "id": "mba-border-color",
        "type": "color",
        "label": "Border color",
        "default" : "#e94a86"
      },
      {
        "id": "mba_collection_list",
        "type": "collection_list",
        "label": "Collections",
        "limit": 8
      }


      ]
    }
{% endschema %} 
                                                                                                                                                                     














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
    